/*NAVIGATION*/
.nav-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 40;
    padding: 20px 15px;
}

.menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 300px;
    background: #FFFFFF;
    z-index: 2;
    min-width: 360px;
}

.menu-list {
    margin-top: 60px;
    padding: 0 20px;
    text-transform: uppercase;
}

.menu-list-item {
    margin-bottom: 20px;
    cursor: pointer;
}

.burger-btn {
    cursor: pointer;
}

.cart-wrapper {
    display: flex;
    flex-direction: column;
    justify-items: end;
}

.cart-search {
    text-decoration: underline;
    text-transform: uppercase;
    /*margin-top: 6px;*/
}