.slider-wrapper {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    transition: all ease 0.5s;
}

.slider-item {
    height: 100%;
    background: darkgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    scroll-snap-align: start;
}

.slider-item-img {
    display: block;
    width: 600px;
    margin: 0 auto;
}

.slider-item-title {
    text-align: center;
    font-size: 64px;
    color: white;
}