@import "styles/normalize.css";
@import "styles/navbar.css";
@import "styles/slider.css";
@import "styles/dropdown.css";

* {
    box-sizing: border-box;
}

p, ul {
    display: block;
}

section {
    text-align: center;
    display: flex;
    justify-content: center;
}